body {
  margin: 1em;

  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 16px;
  line-height: 1.8em;

  color: #333333;
  background-color: #ffffff;
}

main,
aside {
  max-width: 36em;
}

h1,
h2,
h3,
.h3,
h4 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
  line-height: 1.8em;
  color: inherit;
  text-rendering: optimizelegibility;
}

h1,
h2,
h3,
.h3 {
  margin: 1em 0 0.5em 0;
}

h1 {
  font-size: 2.5em;
  margin: 2em 0 1em 0;
}

h2 {
  font-size: 2em;
}

h3,
.h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.2em;
  margin: 0.5em 0 0.25em 0;
}

p {
  margin: 0 0 1.6em 0;
}

ul,
ol {
  padding: 0;
  margin: 0 1.6em 1.6em 1.6em;
}

li {
  margin-bottom: 1em;
}

blockquote {
  padding: 0 0 0 1em;
  margin: 0 0 1.5em 0;
  font-style: italic;
}

blockquote p {
  font-size: 1.2em;
}

a,
a code {
  color: #0088cc;
  text-decoration: underline;
}

a:hover,
a:focus {
  color: #005580;
}

.author {
  display: block;
}

.post__content {
  clear: both;
}

.prose p:first-of-type {
  font-size: 1.2em;
  margin: 2em 0;
}

.gist {
  font-size: 14px;
  line-height: 1.6;
  margin: 0 0 1.6em 0;
}

.projects ul,
.thoughts ul {
  list-style: none;
  margin: 0;
}

li.post h2,
li.post h3 {
  margin-bottom: 0;
}

li.post .post__meta {
  margin: 0.5em 0;
}

.prose p:first-of-type {
  margin-top: 0;
}

.post__meta {
  color: #999;
  margin: 3em 0;
}

.break--mobile,
.break--tablet,
.break--always {
  display: block;
}

.navigation_toggle {
  position: absolute;
  top: 1em;
  right: 1em;
}

.navigation {
  text-align: right;
  padding: 1em 0 0 0;
}

.navigation ol {
  display: inline-block;
  margin: 0;
  width: 8em;
}

.navigation li {
  color: #666;
  margin: 0;
}

.navigation a {
  color: #999;
}

.navigation a:hover {
  color: #333;
}

@media only screen and (min-width: 540px) {
  body {
    margin: 2em;
  }

  .navigation_toggle {
    right: 2em;
  }

  .break--mobile {
    display: inline;
  }
}

@media only screen and (min-width: 680px) {
  body {
    margin: 3em;
    font-size: 18px;
  }

  .navigation_toggle {
    right: 3em;
  }

  .author {
    display: inline;
  }

  .break--tablet {
    display: inline;
  }
}

@media only screen and (min-width: 45em) {
  .gist {
    width: 40em;
  }
}

@media only screen and (min-width: 60em) {
  .page {
    margin: 0 auto;
    width: 50em;
  }

  .navigation {
    position: fixed;
    top: 3em;
    left: 50%;
    margin-left: 17em;
    z-index: 1;
  }
}

/* Animations via animate.css */

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}
