<h1>
  {{title}}
</h1>

<p>
  I guess I should start with code. I like writing it. I like writing it well.
  I like learning from people who know more code than me. I like to learn from
  people who know more than me.
</p>

<p>
  Brought up with tech and of the internet generation I think it's only fair to
  give you some highlights. Here's stripped down timeline of my life in tech:
</p>

<ul>
  <li>
    Dad annoyed me by constantly recording me with his Camcorder
  </li>

  <li>
    I became master of VHS
  </li>

  <li>
    Dad bought a DVD player from America, no one knew what I was going on about
    a school.
  </li>

  <li>
    First family computer in 1996. Highlights include using Corel Draw to create
    make-believe business cards for Lork Meutron.
  </li>

  <li>
    Mafia MMORPG games introduce me to the idea I might like to make a game too.
  </li>

  <li>
    Started learning HTML at 13. Even before I started I realised what a piece
    of crap Frontpage was and used Dreamweaver instead.
  </li>

  <li>
    After learning HTML wasn't powerful enough to make a click based role
    playing game I settled for making static sites for fun.
  </li>

  <li>
    At 15 I bought lukemorton.co.uk and started learning PHP to make my own
    WordPress templates for my first blog.
  </li>

  <li>
    Started becoming really tetchy about non-standards compliant websites.
  </li>

  <li>
    Bought a book on PHP, MySQL and Apache. I was finally going to make my game.
  </li>

  <li>
    Didn't make a game. Didn't stay on at school. Didn't get a job.
  </li>

  <li>
    Did write a lot of unreleased and unrealised code.
  </li>

  <li>
    Went to work for my uncle sacking potatoes.
  </li>

  <li>
    Got tired of sacking potatoes and went back to college. Also got an IT
    support job at <a href="http://freeola.com">Freeola</a>.
  </li>

  <li>
    Started emailing various departments of Freeola telling them to stop using
    tables and to start using divs.
  </li>

  <li>
    Got moved into web content department to start fixing said issues.
  </li>

  <li>
    Tried out as a programmer for 3 months after complaining about messy
    PHP templates.
  </li>

  <li>
    Got hired. Wrote a web mail client. Rebuilt several core infrastructure
    systems such as Support Ticketing, Timesheets, Knowledge Base.
  </li>

  <li>
    Tried leaving. Got my own office. Eventually left.
  </li>

  <li>
    Present day and I'm currently working for <a href="https://gignite.com">Gignite</a>.
  </li>
</ul>

<p>
  You may head <a href="{{index_url}}">back home</a> now.
</p>
