<h1>
  {{title}}
</h1>

<p>
  Sitting here in the living room of my London flat I can't help but feel happy.
  Every atom I've touched and experience I've felt has changed me into the 
  person I am today. I'm pleased with the way it's gone so far.
</p>

<p>
  Here's stripped down timeline of my life in tech:
</p>

<ul>
  <li>
    Dad annoyed me by constantly recording me with his Camcorder
  </li>

  <li>
    I became master of VHS
  </li>

  <li>
    Dad bought a DVD player from America, no one knew what I was going on about
    a school.
  </li>

  <li>
    First family computer in 1996. Highlights include using Corel Draw to create
    make-believe business cards for Lork Meutron.
  </li>

  <li>
    Mafia MMORPG games introduce me to the idea I might like to make a game too.
  </li>

  <li>
    Started learning HTML at 13. Even before I started I realised what a piece
    of crap Frontpage was and used Dreamweaver instead.
  </li>

  <li>
    After learning HTML wasn't powerful enough to make a click based role
    playing game I settled for making static sites for fun.
  </li>

  <li>
    At 15 I bought lukemorton.co.uk and started learning PHP to make my own
    WordPress templates for my first blog.
  </li>

  <li>
    Started becoming really tetchy about non-standards compliant websites.
  </li>

  <li>
    Bought a book on PHP, MySQL and Apache. I was finally going to make my game.
  </li>
</ul>

<p>
  You may head <a href="{{index_url}}">back home</a> now.
</p>
