<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="/css/bootstrap.css" />
    <link rel="stylesheet" href="/css/screen.css" />
    <link rel="alternate"
          type="application/atom+xml"
          title="Latest Thoughts of Luke Morton"
          href="/thoughts/latest.atom" />
  </head>
  <body>
    <div class="page">
      <div class="animated fadeIn">
        {{{content}}}
      </div>

      <nav class="navigation">
        <div class="h3">Chapters</div>

        <ol>
          {{#nav}}
            <li>
              <a href="{{href}}" id="nav_{{index}}">{{label}}</a>
            </li>
          {{/nav}}
        </ol>
      </nav>
    </div>

    <script>
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-9371957-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>

    <script>
      document.addEventListener('DOMContentLoaded', function () {
        document.addEventListener('keyup', function (e) {
          switch (e.which) {
            case 49:
              window.location = document.getElementById('nav_1').href;
              break;
            case 50:
              window.location = document.getElementById('nav_2').href;
              break;
            case 51:
              window.location = document.getElementById('nav_3').href;
              break;
          }
        });
      });
    </script>
  </body>
</html>
