<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="/css/bootstrap.css" />
    <link rel="stylesheet" href="/css/screen.css" />
    <link rel="alternate"
          type="application/atom+xml"
          title="Latest Thoughts of Luke Morton"
          href="/thoughts/latest.atom" />
  </head>
  <body class="animated fadeIn">
    {{{content}}}

    <script>
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-9371957-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </body>
</html>
