<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="/css/bootstrap.css" />
    <link rel="stylesheet" href="/css/screen.css" />
    <link rel="alternate"
          type="application/atom+xml"
          title="Latest Thoughts of Luke Morton"
          href="/thoughts/latest.atom" />
  </head>
  <body>
    <div class="page">
      <a href="#menu"
         class="navigation_toggle"
         id="navigation_toggle"
         style="display: none;">menu</a>

      <div class="animated fadeIn">
        {{{content}}}
      </div>

      <nav class="navigation" id="navigation">
        <div class="h3">Chapters</div>

        <ol>
          {{#nav}}
            <li>
              <a href="{{href}}" id="nav_{{index}}">{{label}}</a>
            </li>
          {{/nav}}
        </ol>
      </nav>
    </div>

    <script>
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-9371957-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>

    <script>
      function main () {
        var navToggle = document.getElementById('navigation_toggle');
        var nav = document.getElementById('navigation');
        var mobileNav;
        var media = window.matchMedia('(min-width: 60em)');

        function toggleNavigationToggle() {
          if (media.matches) {
            navToggle.style.display = 'none';
            hideMobileNavigation();
          } else {
            navToggle.style.display = 'block';
          }
        }

        function hideMobileNavigation() {
          if (mobileNav) {
            mobileNav.remove();
            mobileNav = null;
          }
        }

        function showMobileNavigation () {
          mobileNav = nav.cloneNode(true);
          navToggle.parentNode.insertBefore(mobileNav, navToggle.nextSibling);
        }

        function toggleNavigation() {
          if (mobileNav) {
            hideMobileNavigation();
          } else {
            showMobileNavigation();
          }
        }

        function redirectToNavItem(index) {
          var item = document.getElementById('nav_' + index)
          item.focus();
          window.location = item.href;
        }

        media.addListener(toggleNavigationToggle);
        toggleNavigationToggle();

        navToggle.addEventListener('click', function () {
          toggleNavigation();
          return false;
        });

        document.addEventListener('keyup', function (e) {
          switch (e.which) {
            case 77: // press "m" to show/focus chapter menu
            case 78: // press "n" to show/focus chapter menu
              toggleNavigation();
              document.getElementById('nav_1').focus();
              break;
            case 49: redirectToNavItem(1); break;
            case 50: redirectToNavItem(2); break;
            case 51: redirectToNavItem(3); break;
          }
        });
      }

      document.addEventListener('DOMContentLoaded', main);
    </script>
  </body>
</html>
