<main>
  {{#post}}
    <h1>
      {{{title}}}
    </h1>

    <p class="meta">
      <a href="{{index_url}}">
        <img src="https://s.gravatar.com/avatar/e7f62d126dec76b03e6d2393e44247ad?s=180"
             style="height: 3em; width: 3em;" />
      </a>

      <em>Written by <a href="{{index_url}}">Luke Morton</a> on {{created}}</em>
    </p>

    <div class="content">
      {{{content}}}
    </div>

    <p>
      Feel free to go home now <a href="{{index_url}}">here</a>.
    </p>
  {{/post}}
</main>
