<main>
  {{#post}}
    <h1>
      {{{title}}}
    </h1>

    <p class="meta">
      <a href="{{about_url}}">
        <img src="https://s.gravatar.com/avatar/e7f62d126dec76b03e6d2393e44247ad?s=180"
             style="height: 3em; width: 3em;" /></a>

      <em>
        <span class="author">
          Written by <a href="{{about_url}}">Luke Morton</a>
        </span>

        <span class="published">
          on {{created}}
        </span>
      </em>
    </p>

    <div class="content">
      {{{content}}}
    </div>
  {{/post}}

  ---

  <p>
    Feel free to read some
    <a href="{{archive_url}}">more thoughts</a>
    or go back to
    <a href="{{index_url}}">the introduction</a>.
  </p>
</main>
