{{#post}}
  <h1>
    {{{title}}}
  </h1>

  <p class="meta">
    <em>Written by <a href="{{index_url}}">Luke Morton</a> on {{created}}</em>
  </p>

  {{{content}}}

  <p>
    Feel free to go home now <a href="{{index_url}}">here</a>.
  </p>
{{/post}}
