<header>
	<h1>My Poems</h1>
	<p><em>For friends and followers.</em></p>
</header>
<ul>
{{#poem}}
	<p><a href="{{base}}{{filename}}">{{title}}</a></p>
{{/poem}}
</ul>
<footer>
	<p><strong>~ Luke Morton</strong></p>
	<p><span class="small"><a href="mailto:lukemorton.designs@gmail.com">Contact Me Here</a></span></p>
</footer>
